html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e0f2f1;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  padding-top: 50px;
}
body .carousel-root {
  width: 100%;
}
body .slideshow-card {
  width: 100%;
}

.slideshow-indicator-container {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
